<section class="contacts">
  <div class="container">
    <ol class="contacts__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Contacts</span>
      </li>
    </ol>
    <div class="contacts__header">
      <h1 class="contacts__header-title">Contact Us | BusinessForSale</h1>
      <div class="contacts__header-text">
        <p>Contact BusinessForSaleUAE today for personal support, document verification, and guidance on&nbsp;your business purchase or&nbsp;sale across the&nbsp;Emirates.</p>
      </div>
    </div>
  </div>
</section>
