<section class="project">
  <div class="container">
    <ol class="project__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="catalog.html">Catalog</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Profitable Beauty Salon for Sale | Azizi Riviera</span>
      </li>
    </ol>
    <div class="project__header">
      <h1 class="project__header-title">Profitable Beauty Salon for Sale | Azizi Riviera</h1>
    </div>
    <div class="project__main">
      <div class="project__images-container">
        <div class="project__img">
          <picture>
            <source width="1250" height="770" type="image/webp" media="(min-width: 768px)" srcset="../img/project/photo-1-tablet@1x.webp 1x, ../img/project/photo-1-tablet@2x.webp 2x">
            <source width="362" height="300" type="image/webp" srcset="../img/project/photo-1-mobile@1x.webp 1x, ../img/project/photo-1-mobile@2x.webp 2x">
            <source width="1250" height="770" type="image/jpg" media="(min-width: 768px)" srcset="../img/project/photo-1-tablet@1x.jpg 1x, ../img/project/photo-1-tablet@2x.jpg 2x">
            <img src="../img/project/photo-1-mobile@1x.jpg" srcset="../img/project/photo-1-mobile@2x.jpg 2x" width="362" height="300" alt="Juli Zakharova.">
          </picture>
        </div>
        <div class="project__img">
          <picture>
            <source width="299" height="260" type="image/webp" media="(min-width: 768px)" srcset="../img/project/photo-2-tablet@1x.webp 1x, ../img/project/photo-2-tablet@2x.webp 2x">
            <source width="87" height="76" type="image/webp" srcset="../img/project/photo-2-mobile@1x.webp 1x, ../img/project/photo-2-mobile@2x.webp 2x">
            <source width="299" height="260" type="image/jpg" media="(min-width: 768px)" srcset="../img/project/photo-2-tablet@1x.jpg 1x, ../img/project/photo-2-tablet@2x.jpg 2x">
            <img src="../img/project/photo-2-mobile@1x.jpg" srcset="../img/project/photo-2-mobile@2x.jpg 2x" width="87" height="76" alt="Juli Zakharova.">
          </picture>
        </div>
        <div class="project__img">
          <picture>
            <source width="299" height="260" type="image/webp" media="(min-width: 768px)" srcset="../img/project/photo-3-tablet@1x.webp 1x, ../img/project/photo-3-tablet@2x.webp 2x">
            <source width="87" height="76" type="image/webp" srcset="../img/project/photo-3-mobile@1x.webp 1x, ../img/project/photo-3-mobile@2x.webp 2x">
            <source width="299" height="260" type="image/jpg" media="(min-width: 768px)" srcset="../img/project/photo-3-tablet@1x.jpg 1x, ../img/project/photo-3-tablet@2x.jpg 2x">
            <img src="../img/project/photo-3-mobile@1x.jpg" srcset="../img/project/photo-3-mobile@2x.jpg 2x" width="87" height="76" alt="Juli Zakharova.">
          </picture>
        </div>
        <div class="project__img">
          <picture>
            <source width="299" height="260" type="image/webp" media="(min-width: 768px)" srcset="../img/project/photo-4-tablet@1x.webp 1x, ../img/project/photo-4-tablet@2x.webp 2x">
            <source width="87" height="76" type="image/webp" srcset="../img/project/photo-4-mobile@1x.webp 1x, ../img/project/photo-4-mobile@2x.webp 2x">
            <source width="299" height="260" type="image/jpg" media="(min-width: 768px)" srcset="../img/project/photo-4-tablet@1x.jpg 1x, ../img/project/photo-4-tablet@2x.jpg 2x">
            <img src="../img/project/photo-4-mobile@1x.jpg" srcset="../img/project/photo-4-mobile@2x.jpg 2x" width="87" height="76" alt="Juli Zakharova.">
          </picture>
        </div>
        <div class="project__img">
          <picture>
            <source width="299" height="260" type="image/webp" media="(min-width: 768px)" srcset="../img/project/photo-5-tablet@1x.webp 1x, ../img/project/photo-5-tablet@2x.webp 2x">
            <source width="87" height="76" type="image/webp" srcset="../img/project/photo-5-mobile@1x.webp 1x, ../img/project/photo-5-mobile@2x.webp 2x">
            <source width="299" height="260" type="image/jpg" media="(min-width: 768px)" srcset="../img/project/photo-5-tablet@1x.jpg 1x, ../img/project/photo-5-tablet@2x.jpg 2x">
            <img src="../img/project/photo-5-mobile@1x.jpg" srcset="../img/project/photo-5-mobile@2x.jpg 2x" width="87" height="76" alt="Juli Zakharova.">
          </picture>
        </div>
      </div>
      <div class="project__info">
        <dl class="project__info-list">
          <div>
            <dt>Location</dt>
            <dd>Azizi Riviera</dd>
          </div>
          <div>
            <dt>SQFT</dt>
            <dd>460</dd>
          </div>
          <div>
            <dt>Rent per year</dt>
            <dd>140&nbsp;000&nbsp;AED</dd>
          </div>
        </dl>
        <div class="project__info-footer">
          <p class="project__info-price">270&nbsp;000&nbsp;AED</p>
          <div class="project__info-links">
            <a class="project__info-link button button--dark" href="#">Register</a>
            <a class="project__info-social project__info-social--whatsapp" href="#">
              <span class="visually-hidden">Whatsapp.</span>
            </a>
          </div>
        </div>
      </div>
      <div class="project__expert">
        <div class="project__expert-content">
          <p class="project__expert-name">Julia Zakharova</p>
          <p class="project__expert-position">Commercial <br>Property <br>Consultant</p>
          <p class="project__expert-number">RERA number: 52259</p>
          <p class="project__expert-text">Arrange of&nbsp;viewing, 24/7 <br>Choose a&nbsp;date and time <br>Need to&nbsp;sell first? Book of&nbsp;valuation</p>
        </div>
        <div class="project__expert-img">
          <picture>
            <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="../img/team/woman-tablet@1x.webp 1x, ../img/team/woman-tablet@2x.webp 2x">
            <source width="322" height="358" type="image/webp" srcset="../img/team/woman-mobile@1x.webp 1x, ../img/team/woman-mobile@2x.webp 2x">
            <source width="337" height="195" type="image/jpg" media="(min-width: 768px)" srcset="../img/team/woman-tablet@1x.jpg 1x, ../img/team/woman-tablet@2x.jpg 2x">
            <img src="../img/team/woman-mobile@1x.jpg" srcset="../img/team/woman-mobile@2x.jpg 2x" width="322" height="358" alt="Juli Zakharova.">
          </picture>
        </div>
        <div class="project__expert-links">
          <a class="project__expert-book button" href="#">Book a&nbsp;viewing</a>
          <a class="project__expert-value button button--light" href="#">Value my&nbsp;business</a>
          <ul class="project__expert-socials">
            <li class="project__expert-socials-item">
              <a class="project__expert-socials-link project__expert-socials-link--linkedin" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Linkedin.</span>
              </a>
            </li>
            <li class="project__expert-socials-item">
              <a class="project__expert-socials-link project__expert-socials-link--instagram" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Instagram.</span>
              </a>
            </li>
            <li class="project__expert-socials-item">
              <a class="project__expert-socials-link project__expert-socials-link--facebook" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Facebook.</span>
              </a>
            </li>
            <li class="project__expert-socials-item">
              <a class="project__expert-socials-link project__expert-socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Telegram.</span>
              </a>
            </li>
            <li class="project__expert-socials-item">
              <a class="project__expert-socials-link project__expert-socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Whatsapp.</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="project__about">
      <h2 class="project__about-title">About the&nbsp;Business</h2>
      <div class="project__about-content">
        <p>Profitable, fully equipped beauty salon for sale in&nbsp;the vibrant Azizi Riviera community, offering a&nbsp;turnkey opportunity with established clientele. <br>Step into a&nbsp;fully operational beauty salon in&nbsp;the vibrant and fast-growing Azizi Riviera community. Spanning 460&nbsp;sq.&nbsp;ft., this salon is&nbsp;designed to&nbsp;offer a&nbsp;seamless beauty experience, featuring a&nbsp;dedicated lashes room, 3&nbsp;pedicure and 4&nbsp;manicure stations, 1&nbsp;hairdresser station, a&nbsp;pantry, and a&nbsp;private washroom. Every corner of&nbsp;the salon is&nbsp;optimized for efficiency and client comfort, making it&nbsp;easy to&nbsp;start operations immediately.</p>
        <p>Located in&nbsp;a&nbsp;lively community with ample parking for clients, this salon attracts consistent foot traffic and has an&nbsp;established clientele. With an&nbsp;annual rent of&nbsp;AED 140,000 and a&nbsp;selling price of&nbsp;AED 270,000, it&nbsp;presents a&nbsp;rare turnkey investment opportunity for beauty professionals or&nbsp;investors seeking a&nbsp;ready-to-run business in&nbsp;a&nbsp;prime Dubai location.</p>
        <p>This salon is&nbsp;ideal for those looking to&nbsp;step into the beauty industry without the hassle of&nbsp;setup and initial marketing, offering both convenience and profitability from day one.</p>
        <p>Contact&nbsp;us today to&nbsp;arrange a&nbsp;viewing or&nbsp;request further details!</p>
      </div>
      <div class="project__about-details">
        <h3 class="project__about-subtitle">Business characteristics</h3>
        <dl class="project__info-list">
          <div>
            <dt>Business type / Investment type</dt>
            <dd>Investment Opportunity</dd>
          </div>
          <div>
            <dt>Price range</dt>
            <dd>350&nbsp;000&nbsp;AED</dd>
          </div>
          <div>
            <dt>Revenue/turnover range</dt>
            <dd>5&nbsp;years</dd>
          </div>
          <div>
            <dt>Profit range</dt>
            <dd>2&nbsp;years</dd>
          </div>
          <div>
            <dt>Property type</dt>
            <dd>Office</dd>
          </div>
          <div>
            <dt>Type of business</dt>
            <dd>Retail Stores</dd>
          </div>
          <div>
            <dt>Business age</dt>
            <dd>2&nbsp;years</dd>
          </div>
          <div>
            <dt>Number of&nbsp;employees</dt>
            <dd>4&nbsp;people</dd>
          </div>
          <div>
            <dt>Status of&nbsp;listing type</dt>
            <dd>Exclusive</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
