@use "index" as *;

.filters__reset {
  @include close-button;
  @include interactive-button;

  width: 100%;
  height: unset;
  padding: 8px 41px 6px 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  text-align: left;
  background-color: var(--bg-accent);
  border-radius: 5px;
  color: var(--white);

  &::before,
  &::after {
    left: unset;
    right: 15px;
    width: 14px;
    height: 1px;
  }
}

.filters__container {
  margin: 20px 0;
}

.filters__group {
  padding: 18px 23px;
  color: var(--text-basic);
  background-color: var(--grey-extra-light);
  border: none;
  border-radius: 5px;

  &:not(:last-child) {
    margin: 0 0 10px;
  }
}

.filters__legend {
  display: block;
  margin: 0 0 17px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
}

.filters__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters__item {
  position: relative;
  width: 100%;

  @include vp-1024 {
    width: fit-content;
  }

  &:not(:last-child) {
    margin: 0 0 10px;
  }

  &.range {
    width: 100%;
  }
}

.filters__show {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: max-content;
  padding: 5px 5px 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-basic);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--text-basic);
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s, background-color 0.3s, color 0.3s;
  z-index: 100;

  @include vp-1024 {
    right: unset;
    left: calc(100% + 20px);
  }

  &--animated {
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s, color 0.3s;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  @include hover-focus {
    color: var(--white);
    background-color: var(--text-light);
  }
}

.filters__show-accent {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--bg-accent);
}

.filters__item.range .filters__show {
  top: 0;
  transform: translateY(-20%);

  @include vp-1024 {
    right: -50%;
    left: unset;
  }
}

.filters__checkbox {
  @include checkbox;
}

.filters__range {
  @include range;

  &-value {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--text-secondary);
  }

  &-current-value {
    padding: 0 3px;
    background-color: var(--grey-extra-light);
    box-shadow: -12px 0 9px -2px var(--grey-extra-light), 12px 0 9px -2px var(--grey-extra-light);
  }

  &-title {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text-secondary);
  }
}
