@use "index" as *;

.form__form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__form-title {
  max-width: calc(100% - 50px);
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 20px;

  @include vp-1366 {
    font-size: 25px;
    line-height: 0.9;
    letter-spacing: -0.03em;
  }

  @include vp-1640 {
    margin: 0 0 28px;
    font-size: 30px;
  }
}

.form__form-list {
  margin: 0 0 12px;
  padding: 0;
  list-style-type: none;

  @include vp-1640 {
    margin: 0 0 18px;
  }
}

.form__form-item {
  &:not(:last-child) {
    margin: 0 0 11px;

    @include vp-1640 {
      margin: 0 0 18px;
    }
  }
}

.form__field {
  @include input-secondary;

  input {
    width: 100%;
  }
}

.form__form-footer {
  @include vp-1024 {
    display: grid;
    grid-template-columns: 1fr minmax(150px, auto);
    align-items: start;
    gap: 20px;
  }

  @include vp-1640 {
    grid-template-columns: 1fr minmax(180px, auto);
  }
}

.form__accept {
  @include accept;

  margin: 0 0 14px;
}

.form__form-button {
  width: 100%;
  padding: 10px 20px 9px;
  font-size: 18px;

  @include vp-1024 {
    padding: 14px 20px 13px;
  }
}
