@use "card" as *;
@use "tag" as *;
@use "links" as *;
@use "breakpoint" as *;
@use "interactive-states" as *;
@use "img-position" as *;

@mixin blog-card {
  display: grid;
  padding: 23px 20px 15px;
  color: var(--white);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-1640 {
    padding: 30px;
  }

  &-header {
    @include card-header;

    grid-area: 1 / 1 / 2 / 2;
    margin: 10px;
    z-index: 1;

    @include vp-1366 {
      margin: 30px 40px 20px 30px;
    }

    p {
      @include tag;

      padding: 4px 16px 3px;

      @include vp-1366 {
        padding: 7px 25px 6px;
        font-size: 14px;
      }

      @include vp-1640 {
        font-size: 18px;
      }
    }
  }

  &-header-right p {
    min-width: 97px;

    @include vp-1366 {
      min-width: unset;
    }
  }

  &-image {
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 328px;
    margin: 0 0 18px;
    border-radius: 5px;
    overflow: hidden;

    @include vp-500 {
      aspect-ratio: 500 / 328;
      height: unset;
      margin: 0 0 16px;
    }

    @include vp-1024 {
      aspect-ratio: 560 / 468;
      margin: 0 0 20px;
    }

    img {
      @include img-cover;
    }
  }

  &-content {
    @include vp-1366 {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: end;
      gap: 0 22px;
    }

    @include vp-1640 {
      min-height: 190px;
    }

    @include vp-1920 {
      min-height: 209px;
    }
  }

  &-title {
    max-width: 90%;
    margin: 0 0 14px;
    font-weight: 500;
    font-size: 18px;

    @include vp-500 {
      font-size: 22px;
    }

    @include vp-1024 {
      font-size: 18px;
    }

    @include vp-1366 {
      grid-column: 1 / 3;
      margin: 0 0 25px;
      font-size: 25px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }

    @include vp-1640 {
      align-self: start;
      font-size: 30px;
    }
  }

  &-text {
    margin: 0 0 17px;

    @include vp-1366 {
      margin: 0;
    }

    p {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.01em;

      @include vp-500 {
        font-size: 18px;
      }

      @include vp-1024 {
        font-size: 14px;
      }

      @include vp-1640 {
        font-size: 18px;
        letter-spacing: 0;
      }
    }

    p + p {
      margin-top: 8px;
    }
  }

  &-link-more {
    @include link-more;
    @include interactive-link-accent;

    color: var(--bg-accent);
  }
}
