@use "interactive-states" as *;
@use "img-position" as *;
@use "links" as *;
@use "breakpoint" as *;
@use "tag" as *;

@mixin card-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &-left,
  &-right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
  }

  &-right {
    justify-content: flex-end;
  }
}

@mixin card {
  cursor: pointer;

  @include vp-768 {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  @include hover {
    --transform: scale(1.05);
  }

  &:focus-within {
    --transform: scale(1.05);
  }

  &-image {
    display: block;
    width: 100%;
    height: 352px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    @include vp-500 {
      aspect-ratio: 500 / 352;
      height: unset;
    }

    img {
      @include img-cover;

      transition: transform 0.4s;
      transform: var(--transform);
    }
  }

  &-content {
    display: grid;
    color: var(--grey-middle);
    background-color: var(--bg-primary);
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr minmax(30%, 62%);
    align-items: start;
    gap: 20px;
    margin: 0 0 14px;
  }

  &-location {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
    margin: 3px 0 0;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;

    @include vp-500 {
      font-size: 26px;
    }

    @include vp-768 {
      gap: 5px;
      font-size: 20px;
    }

    @include vp-1024 {
      font-size: 16px;
    }

    @include vp-1366 {
      gap: 10px;
      font-size: 20px;
    }

    &::before {
      grid-area: 1 / 1 / 2 / 2;
      width: 17px;
      height: 17px;
      content: "";
      mask-image: url("../img/sprite.svg#pin");
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--white);

      @include vp-500 {
        width: 22px;
        height: 22px;
      }

      @include vp-768 {
        width: 17px;
        height: 17px;
      }
    }
  }

  &-title {
    justify-self: end;
    width: fit-content;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);

    @include vp-500 {
      font-size: 26px;
    }

    @include vp-768 {
      font-size: 18px;
    }

    @include focus {
      outline: none;
    }
  }

  &-description {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 1.2;

    @include vp-500 {
      font-size: 20px;
    }

    @include vp-768 {
      font-size: 14px;
    }
  }

  &-details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 12px 9px;
    margin: 0 0 11px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.01em;

    @include vp-1024 {
      font-size: 16px;
    }

    @include vp-1366 {
      font-size: 20px;
    }

    p {
      margin: 0;
    }
  }

  &-price {
    margin: 0 0 26px;
    font-weight: 500;
    font-size: 20px;
    color: var(--white);

    @include vp-1024 {
      margin: 0 0 20px;
    }
  }

  &-links {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    margin: auto 9px 0 0;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 15px;
    font-size: 18px
  }

  &-social {
    @include social-link;

    width: 40px;
    height: 40px;

    @include vp-1024 {
      width: 50px;
      height: 50px;
    }
  }
}

@mixin offer-card {
  @include card;

  &-image {
    @include vp-1024 {
      height: 350px;
    }

    @include vp-1366 {
      height: 450px;
    }

    @include vp-1640 {
      height: 599px;
    }
  }

  &-content {
    padding: 17px 20px 20px;
    border-radius: 0 0 5px 5px;

    @include vp-1024 {
      padding: 20px 10px 10px;
    }

    @include vp-1366 {
      padding: 15px 30px 20px;
    }
  }

  &-info {
    @include vp-1366 {
      grid-template-columns: 1fr minmax(30%, 62%);
      margin: 0 0 10px;
    }
  }

  &-title {
    @include vp-1366 {
      font-size: 20px;
    }

    @include vp-1640 {
      font-size: 25px;
    }

    @include vp-1920 {
      font-size: 30px;
      letter-spacing: 0.01em;
    }
  }

  &-description {
    @include vp-1024 {
      display: none;
    }
  }

  &-details {
    @include vp-1366 {
      grid-template-columns: auto 1fr auto auto;
      gap: 20px;
      margin: 0 0 25px;
      font-size: 14px;
    }

    @include vp-1640 {
      font-size: 18px;
    }

    @include vp-1920 {
      gap: 38px;
      font-size: 20px;
    }
  }

  &-price {
    @include vp-1366 {
      margin: 0 0 13px;
      font-size: 20px;
    }

    @include vp-1640 {
      font-size: 30px;
    }
  }

  &-links {
    gap: 13px;
    margin: auto 0 0;
  }

  &-link {
    @include vp-1024 {
      padding: 14px 15px;
    }
  }
}

@mixin catalog-card {
  @include card;

  display: grid;
  padding: 20px 20px 10px;
  color: var(--grey-middle);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-768 {
    padding: 20px;
  }

  @include vp-1920 {
    padding: 30px;
  }

  &-header {
    @include card-header;

    grid-area: 1 / 1 / 2 / 2;
    margin: 10px;
    z-index: 1;

    p {
      @include tag;

      min-width: 97px;
      padding: 5px 16px 3px;

      @include vp-1366 {
        font-size: 14px;
      }

      @include vp-1640 {
        font-size: 18px;
      }
    }
  }

  &-image {
    grid-area: 1 / 1 / 2 / 2;
    height: 331px;
    margin: 0 0 19px;
    border-radius: 5px;

    @include vp-500 {
      aspect-ratio: 500 / 331;
      height: unset;
      margin: 0 0 16px;
    }

    @include vp-1366 {
      aspect-ratio: 470 / 394;
    }
  }

  &-info {
    display: block;
  }

  &-title {
    justify-self: unset;

    @include vp-1366 {
      font-size: 20px;
      letter-spacing: 0.01em;
    }

    @include vp-1640 {
      font-size: 25px;
    }

    @include vp-1920 {
      font-size: 30px;
    }
  }

  &-description {
    @include vp-1366 {
      margin: 0 0 16px;
    }

    @include vp-1640 {
      font-size: 16px;
    }

    @include vp-1920 {
      font-size: 18px;
    }
  }

  &-details {
    display: block;
    margin: 0 0 20px;

    @include vp-1366 {
      grid-row: 3 / 4;
      margin: 0 0 8px;
      font-size: 18px;
    }

    @include vp-1640 {
      font-size: 20px;
    }
  }

  &-details-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    &:not(:last-child) {
      margin: 0 0 12px;
    }

    @include vp-1366 {
      display: flex;
      gap: 22px;
    }
  }

  &-footer {
    padding: 7px 11px 10px;
    background-color: var(--bg-accent);
    border-radius: 5px;

    @include vp-768 {
      padding: 10px;
    }

    @include vp-1640 {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 10px;
      padding: 22px 9px 22px;
    }
  }

  &-price {
    margin: 0 0 5px;
    font-size: 18px;

    @include vp-768 {
      margin: 0 0 10px;
      font-size: 20px;
    }

    @include vp-1640 {
      margin: 0;
      font-size: 25px;
    }

    @include vp-1920 {
      font-size: 30px;
    }
  }

  &-links {
    margin: 0;

    @include vp-1640 {
      justify-items: end;
      gap: 10px;
    }
  }

  &-link {
    @include vp-1640 {
      width: 100%;
      max-width: 150px;
    }
  }

  &-social {
    width: 40px;
    height: 40px;

    @include vp-1024 {
      width: 50px;
      height: 50px;
    }

    @include vp-1366 {
      width: 40px;
      height: 40px;
    }

    @include vp-1640 {
      width: 50px;
      height: 50px;
    }
  }
}

@mixin catalog-card-small {
  @include catalog-card;

  grid-template-columns: repeat(3, 1fr);
  gap: 0 25px;
  grid-template-areas:
    "img tags content"
    "img title content"
    "img details footer";

  &-header {
    grid-area: tags;
    width: fit-content;
    margin: 0 0 14px;
  }

  &-image {
    grid-area: img;
    aspect-ratio: unset;
    position: relative;
    height: 100%;
    margin: 0;

    img {
      @include img-bg;

      z-index: 0;
    }
  }

  &-info {
    grid-area: title;
  }

  &-details {
    grid-area: details;
    align-self: end;
    width: fit-content;
    margin: 0;
  }

  &-details-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &-description {
    grid-area: content;
  }

  &-footer {
    grid-area: footer;
    align-self: end;

    @include vp-1920 {
      padding: 20px;
    }
  }

  &-price {
    @include vp-1640 {
      margin-top: 2px;
    }
  }

  &-link {
    @include vp-1920 {
      min-width: 110px;
    }
  }
}
