@use "img-position" as *;
@use "links" as *;
@use "interactive-states" as *;
@use "breakpoint" as *;

@mixin expert-card {
  display: grid;
  grid-template-columns: 50fr 41fr;
  gap: 0 10px;
  padding: 17px 20px 20px 22px;
  color: var(--grey);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-1920 {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 30px 67px;
  }

  &-content {
    margin: 0 0 17px;

    @include vp-1920 {
      margin: 0 0 42px;
    }
  }

  &-name {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 20px;
    color: var(--white);

    @include vp-500 {
      font-size: 22px;
    }

    @include vp-768 {
      font-size: 25px;
    }

    @include vp-1024 {
      font-size: 20px;
    }

    @include vp-1640 {
      margin: 0 0 29px;
      font-size: 25px;
    }

    @include vp-1920 {
      font-size: 30px;
      letter-spacing: 0.02em;
    }
  }

  &-position {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @include vp-500 {
      font-size: 20px;
    }

    @include vp-1024 {
      font-size: 18px;
    }

    @include vp-1640 {
      margin: 0 0 23px;
    }

    br {
      @include vp-768 {
        display: none;
      }
    }
  }

  &-number {
    margin: 0 0 13px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @include vp-500 {
      font-size: 20px;
    }

    @include vp-1024 {
      margin: 0 0 30px;
      font-size: 18px;
    }

    @include vp-1640 {
      margin: 0 0 55px;
    }
  }

  &-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.01em;

    @include vp-500 {
      font-size: 18px;
    }

    @include vp-1024 {
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0;
    }

    @include vp-1640 {
      font-size: 18px;
    }
  }

  &-img {
    align-self: start;
    margin: 3px 0 10px;
    border-radius: 5px;
    overflow: hidden;

    @include vp-768 {
      grid-area: 1 / 2 / 3 / 3;
      height: 100%;
    }

    @include vp-1024 {
      grid-area: unset;
      height: unset;
    }

    img {
      @include img-cover;
    }
  }

  &-links {
    grid-column: 1 / 3;

    @include vp-768 {
      grid-column: unset;
      align-self: end;
    }

    @include vp-1024 {
      grid-column: 1 / 3;
    }
  }

  &-book {
    display: block;
    margin: 0 0 5px;
    padding: 12px 20px 11px;
    font-weight: 400;
    color: var(--white);

    @include vp-1024 {
      margin: 0 0 10px;
      padding: 16px 20px 13px;
    }
  }

  &-value {
    display: block;
    margin: 0 0 15px;
    padding: 12px 20px 11px;
    font-weight: 400;

    @include vp-1024 {
      margin: 0 0 20px;
      padding: 15px 20px 13px;
    }
  }

  &-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 11px;
    margin: 0;
    padding: 18px 20px;
    list-style-type: none;
    background-color: var(--bg-accent);
    border-radius: 5px;

    @include vp-1366 {
      gap: 20px;
      padding: 27px 20px;
    }
  }

  &-socials-link {
    @include social-link;

    --bg-color: var(--transparent);
    --icon-color: var(--white);

    width: 23px;
    height: 23px;

    @include vp-1366 {
      width: 40px;
      height: 40px;
    }

    @include hover-focus {
      --bg-color: var(--transparent);
      --icon-color: var(--bg-primary);
    }

    @include active {
      --bg-color: var(--transparent);
      --icon-color: var(--bg-primary-opacity);
    }

    &::after {
      mask-size: 100% 100%;
    }
  }
}
