@use "interactive-states" as *;

@mixin social-link {
  --bg-color: var(--white);
  --icon-color: var(--bg-primary);

  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  padding: 8px;
  background-color: var(--bg-color);
  border-radius: 5px;
  transition: background-color 0.3s;

  &--tg {
    --icon: url("../img/sprite.svg#tg");
  }

  &--whatsapp {
    --icon: url("../img/sprite.svg#whatsapp");
  }

  &--instagram {
    --icon: url("../img/sprite.svg#instagram");
  }

  &--linkedin {
    --icon: url("../img/sprite.svg#linkedin");
  }

  &--facebook {
    --icon: url("../img/sprite.svg#facebook");
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    mask-image: var(--icon);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 60% 60%;
    background-color: var(--icon-color);
    transition: background-color 0.3s;
  }

  @include hover-focus {
    --bg-color: var(--bg-accent);
    --icon-color: var(--white);

    outline: none;
  }

  @include active {
    --bg-color: var(--bg-accent-opacity);
  }
}

@mixin link-more {
  display: block;
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
  transition: opacity 0.3s;

  @include hover-focus {
    outline: none;
    opacity: 0.4;
  }

  @include active {
    opacity: 0.3;
  }
}
