@mixin range {
  position: relative;

  &-title {
    margin: 0 0 22px;
    font-weight: 400;
    font-size: 18px;
    color: var(--grey);
  }

  &-inputs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-container {
    margin: 16px 0 14px;
  }

  &-values {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &-value {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
  }
}
