@use "form-elements" as *;
@use "interactive-states" as *;

@mixin search-form {
  position: relative;
  overflow: hidden;

  &-field {
    @include input;

    --color: var(--text-basic);

    align-items: stretch;
    border-radius: 5px;

    span,
    input {
      height: unset;
      padding: 11px 56px 9px 60px;
    }

    input {
      border: 2px solid var(--bg-primary);
    }

    &:has(span:focus-visible) span,
    &:has(input:focus-visible) span,
    &:has(span:hover) span,
    &:has(input:hover) span {
      --color: var(--bg-accent);
    }
  }

  &-button {
    --icon-color: var(--text-basic);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 21px;
    height: 21px;
    padding: 5px;
    background-color: var(--icon-color);
    border-radius: 5px;
    border: none;
    mask-image: url("../img/sprite.svg#search");
    mask-position: center center;
    mask-size: 21px 21px;
    mask-repeat: no-repeat;
    transition: background-color 0.3s;
    z-index: 1;

    @include hover-focus {
      --icon-color: var(--bg-accent);
    }

    @include active {
      --icon-color: var(--bg-accent-opacity);
    }
  }
}
