@use 'interactive-states' as *;

@mixin view-toggles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &-toggle {
    --icon-color: var(--white);
    --icon: url("../img/sprite.svg#view-grid");

    position: relative;
    width: 46px;
    height: 46px;
    background-color: var(--bg-primary);
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px;

    @include hover-focus {
      --icon-color: var(--grey);

      outline: none;
    }

    @include active {
      background-color: var(--bg-accent);
    }

    &--active {
      --icon-color: var(--bg-accent-opacity);
    }

    &--list {
      --icon: url("../img/sprite.svg#view-list");
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 100%;
      height: 100%;
      mask-image: var(--icon);
      mask-position: center;
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      background-color: var(--icon-color);
      border-radius: 5px;
      transition: background-color 0.3s;
    }
  }
}
