@use "index" as *;

.about__title {
  max-width: 1100px;
  margin: 0 0 14px;

  @include vp-1366 {
    margin: 0 0 31px;
  }
}

.about__wrapper {
  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @include vp-1366 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about__image {
  position: relative;
  height: 319px;
  margin: 0 0 20px;
  border-radius: 5px;
  overflow: hidden;

  @include vp-768 {
    margin: 0;
  }

  @include vp-1024 {
    height: 370px;
  }

  @include vp-1366 {
    grid-column: 1 / 3;
    height: 500px;
  }

  @include vp-1640 {
    height: 613px;
  }

  &::after {
    @include overlay;

    opacity: 0.2;
  }

  img {
    @include img-cover;
  }
}

.about__content {
  @include vp-768 {
    max-width: 504px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--text-secondary);

    @include vp-1024 {
      font-size: 16px;
      letter-spacing: 0;
    }

    @include vp-1366 {
      font-size: 18px;
    }
  }

  p + p {
    margin-top: 10px;
  }
}
