@use "index" as *;

.catalog__header {
  @include page-header-title;

  margin: 0 0 11px;

  @include vp-1366 {
    margin: 0 0 18px;
  }
}

.catalog__wrapper {
  @include vp-1024 {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 0 10px;
  }
}

.catalog__controls {
  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin: 0 0 10px;
  }

  @include vp-1366 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) auto auto;
    gap: 5px 11px;
    margin: 0 0 13px;
  }

  @include vp-1920 {
    grid-template-columns: minmax(0, 375px) minmax(0, 375px) minmax(0, 375px) 1fr auto;
  }
}

.catalog__search {
  @include search-form;

  margin: 0 0 10px;

  @include vp-768 {
    grid-column: 1 / 4;
    margin: 0;
  }

  @include vp-1366 {
    grid-column: 1 / 5;
    height: 46px;
  }

  &-field {
    @include vp-1366 {
      height: 100%;
    }
  }

  input,
  span {
    @include vp-768 {
      padding: 13px 56px 9px 14px;
    }
  }
}

.catalog__view {
  display: none;

  @include vp-1366 {
    @include view-toggles;
    display: block;
  }
}

.catalog__select {
  @include select-standard;

  margin: 0 0 10px;
  border: 2px solid var(--bg-primary);
  border-radius: 5px;

  @include vp-768 {
    margin: 0;
  }

  &-button {
    padding: 12px 15px 9px 60px;
    color: var(--text-basic);

    @include vp-768 {
      padding: 12px 15px 9px 20px;
    }

    @include hover-focus {
      color: var(--bg-accent);
    }
  }

  .select__list {
    padding-left: 60px;

    @include vp-768 {
      padding-left: 20px;
    }
  }
}

.catalog__results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 28px 0 16px;

  @include vp-768 {
    grid-column: 1 / 4;
    margin: 10px 0 0;
  }

  @include vp-1366 {
    grid-column: 4 / 6;
    margin: 0 0 0 20px;
  }

  @include vp-1920 {
    grid-column: unset;
    align-self: end;
    margin: 0 12px 6px 0;
  }
}

.catalog__filter-button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: var(--black);
  border: none;
  background-color: var(--transparent);
  transition: color 0.3s;

  @include vp-1024 {
    display: none;
  }

  @include hover-focus {
    outline: none;
    color: var(--bg-accent);
  }

  &::after {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
    width: 15px;
    height: 14px;
    background-image: url("../img/sprite.svg#filter");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.catalog__objects {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--grey);

  @include vp-1024 {
    margin-left: auto;
  }

  @include vp-1640 {
    font-size: 20px
  }
}

.catalog__filter-title {
  @include visually-hidden;

  @include vp-1024 {
    @include removed-visually-hidden;

    align-self: start;
    margin: 17px 0;
    font-weight: 700;
    font-size: 30px;
  }
}

.catalog__filters {
  --filter-transform: scaleY(0);
  --filter-opacity: 0;

  position: relative;

  &--opened {
    --filter-transform: scaleY(1);
    --filter-opacity: 1;
  }
}

.catalog__filters-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px 0;
  transform: var(--filter-transform);
  opacity: var(--filter-opacity);
  transform-origin: top;
  transition: transform 0.4s, opacity 0.2s;
  background-color: var(--white);
  border-radius: 0 0 5px 5px;
  z-index: 5;

  @include vp-500 {
    max-width: 450px;
    padding: 20px 20px 20px 0;
  }

  @include vp-1024 {
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    max-height: unset;
    padding: 0;
    background-color: var(--transparent);
    border-radius: 0;
  }
}

.catalog__list {
  margin: 0 0 22px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &--grid {
    grid-template-columns: repeat(2, 1fr);

    @include vp-1366 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--list {
    @include vp-1366 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &--animated {
    transition: opacity 0.3s;
  }

  &--hidden {
    opacity: 0;
  }
}

.catalog__card {
  &:not(:last-child) {
    margin: 0 0 20px;

    @include vp-768 {
      margin: 0;
    }
  }
}

.catalog__list--grid .catalog__card {
  @include catalog-card;
}

.catalog__list--list .catalog__card {
  @include catalog-card;

  @include vp-1366 {
    @include catalog-card-small;
  }
}

.catalog__pagination {
  @include pagination;

  margin-right: 13px;

  @include vp-1024 {
    grid-column: 2 / 3;
  }
}
