@use "index" as *;

.contact-us__wrapper {
  padding: 17px 20px 20px;
  color: var(--white);
  background-color: var(--bg-accent);
  border-radius: 5px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 20px;
  }

  @include vp-1024 {
    grid-template-columns: 2fr 3fr;
    padding: 35px 40px 37px 33px;
  }

  @include vp-1366 {
    grid-template-columns: 3fr 2fr;
    align-items: start;
    min-height: 400px;
  }

  @include vp-1640 {
    grid-template-columns: 58fr 31fr;
    min-height: 489px;
  }
}

.contact-us__title {
  margin: 0 0 31px;
}

.contact-us__list {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;

  @include vp-1366 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
  }
}

.contact-us__item {
  &:not(:last-child) {
    margin: 0 0 18px;

    @include vp-1640 {
      margin: 0 0 36px;
    }
  }

  &--address {
    @include vp-1366 {
      grid-area: 1 / 2 / 3 / 3;
    }
  }
}

.contact-us__address {
  font-style: normal;
}

.contact-us__contacts-label {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;

  @include vp-1366 {
    margin: 0 0 15px;
    font-size: 20px;
  }

  &--address {
    margin: 0 0 6px;

    @include vp-1366 {
      margin: 0 0 17px;
    }
  }
}

.contact-us__contacts-text {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 20px;

  @include vp-1366 {
    font-size: 25px;
  }

  @include vp-1640 {
    font-size: 30px;
  }

  &--link {
    @include interactive-link-underline-light;
  }
}

.contact-us__form {
  @include vp-1366 {
    align-self: center;
  }

  @include vp-1640 {
    margin: 13px 0 0;
  }
}
