@use "index" as *;

.disclamer__title {
  margin: 0 0 15px;

  @include vp-768 {
    margin: 0 0 17px;
    font-weight: 400;
    font-size: 30px;
    line-height: 90%;
    letter-spacing: -0.03em;
  }
}

.disclamer__text {
  padding: 18px 35px 15px 21px;
  color: var(--white);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-1024 {
    padding: 37px 40px 34px;
  }

  p {
    max-width: 1510px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.23;
    letter-spacing: -0.01em;

    @include vp-768 {
      font-size: 18px;
      letter-spacing: 0;
    }
  }

  p + p {
    margin-top: 10px;
  }
}
