@use "index" as *;

.footer__wrapper {
  padding: 15px 20px;
  color: var(--white);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-1366 {
    padding: 36px 40px 40px;
  }

  @include vp-1920 {
    display: flex;
    flex-direction: column;
    height: 487px;
  }
}

.footer__top {
  margin: 0 0 72px;

  @include vp-500 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
    margin: 0 0 20px;
  }

  @include vp-768 {
    gap: 0;
  }

  @include vp-1024 {
    grid-template-columns: 2fr 2fr 3fr;
  }

  @include vp-1640 {
    grid-template-columns: 293fr 304fr 298fr;
  }

  @include vp-1920 {
    flex-grow: 1;
  }
}

.footer__logo {
  @include logo-image;

  display: block;
  height: 40px;
  margin: 0 0 35px;
  font-weight: 400;
  font-size: 46px;
  line-height: 1;
  text-transform: uppercase;

  @include vp-500 {
    grid-column: 1 / 3;
  }

  @include vp-1024 {
    grid-column: unset;
  }
}

.footer__nav {
  margin: 0 0 32px;

  @include vp-500 {
    margin: 0;
  }
}

.footer__subtitle {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;

  @include vp-1366 {
    margin: 0 0 22px;
    font-weight: 400;
  }
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;

  @include vp-500 {
    display: block;
  }

  @include vp-768 {
    margin: 0 20px;
  }

  .footer__subtitle {
    grid-column: 1 / 3;

    @include vp-500 {
      grid-column: unset;
    }
  }

  .footer__list {
    @include vp-500 {
      margin: 0 0 60px;
    }
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__item {
  &:not(:last-child) {
    margin: 0 0 4px;

    @include vp-1366 {
      margin: 0 0 10px;
    }
  }
}

.footer__link {
  @include interactive-link-underline-light;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;

  @include vp-1024 {
    font-size: 18px;
  }
}

.footer__socials {
  place-self: end;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 5px;
  padding: 0;
  list-style-type: none;

  @include vp-500 {
    margin: 0;
  }

  @include vp-768 {
    place-self: unset;
    justify-self: end;
  }
}

.footer__socials-link {
  @include social-link;

  @include vp-768 {
    width: 28px;
    height: 28px;
  }

  @include vp-1024 {
    width: 42px;
    height: 42px;
  }
}

.footer__bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  gap: 20px;

  @include vp-768 {
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: start;
    gap: 0;
  }

  @include vp-1024 {
    grid-template-columns: 8fr 3fr 3fr;
  }

  @include vp-1640 {
    grid-template-columns: 4fr 1fr 1fr;
  }
}

.footer__name {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--bg-accent);

  @include vp-768 {
    font-size: 30px;
    line-height: 0.7;
  }

  @include vp-1024 {
    font-size: 50px;
  }

  @include vp-1366 {
    font-size: 70px;
  }

  @include vp-1640 {
    font-size: 90px
  }

  @include vp-1920 {
    font-size: 120px
  }
}

.footer__privacy {
  @include interactive-link-underline-light;

  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;

  @include vp-768 {
    margin: 0 20px;
  }

  @include vp-1024 {
    font-size: 18px;
  }

  @include vp-1366 {
    font-size: 20px;
  }
}
