@use "index" as *;

.hero {
  .container {
    padding: 0;

    @include vp-768 {
      padding: 0 var(--container-offset);
    }
  }
}

.hero__wrapper {
  display: grid;

  @include vp-768 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include vp-1024 {
    grid-template-columns: 125fr 62fr;
    grid-template-rows: minmax(450px, auto);
    gap: 20px 10px;
  }

  @include vp-1366 {
    grid-template-rows: minmax(550px, auto);
  }

  @include vp-1640 {
    grid-template-rows: minmax(679px, auto);
  }
}

.hero__main {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;

  @include vp-768 {
    grid-area: 1 / 1 / 2 / 3;
  }

  @include vp-1024 {
    grid-area: unset;
  }
}

.hero__main-content {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 400px;
  padding: 35px 20px 569px 19px;
  color: var(--white);
  z-index: 1;

  @include vp-768 {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 30px;
  }

  @include vp-1024 {
    max-width: 80%;
  }

  @include vp-1366 {
    padding: 76px 30px 22px;
  }

  p {
    max-width: 480px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;

    @include vp-1024 {
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 0;
    }
  }

  p + p {
    margin-top: 10px;
  }
}

.hero__title {
  margin: 0 0 31px;
  font-weight: 700;
  font-size: 30px;
  color: var(--bg-accent);

  @include vp-768 {
    margin: 0 0 auto;
  }

  @include vp-1024 {
    font-size: 45px;
  }

  @include vp-1366 {
    font-size: 60px;
    line-height: 0.9;
    letter-spacing: -0.03em;
  }

  @include vp-1640 {
    font-size: 82px
  }
}

.hero__main-image {
  @include img-bg;

  border-radius: 5px;
  overflow: hidden;

  &::after {
    @include overlay;

    opacity: 0.55;
  }
}

.hero__card {
  display: none;

  @include vp-1024 {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    padding: 10px 10px 20px;
    background-color: var(--bg-primary);
    border-radius: 5px;
  }
}

.hero__card-content {
  --transform: scale(1);

  @include vp-1024 {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: var(--white);
    z-index: 1;
  }

  @include vp-1366 {
    padding: 30px 30px 24px;
  }

  @include hover-focus {
    --transform: scale(1.1);
  }
}

.hero__card-header {
  @include card-header;

  p {
    @include tag;
  }
}

.hero__card-title {
  margin: auto 0 0;
  font-weight: 700;
  font-size: 20px;

  @include vp-1366 {
    max-width: 90%;
    font-size: 22px;
  }

  @include vp-1640 {
    font-size: 30px;
  }
}

.hero__card-image {
  @include vp-1024 {
    @include img-bg;

    border-radius: 5px;
    overflow: hidden;
  }

  &::after {
    @include overlay;

    opacity: 0.2;
  }

  img {
    transition: transform 0.3s;
    transform: var(--transform);
  }
}

.hero__card-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: var(--white);
  border-radius: 5px;

  @include vp-1366 {
    padding: 20px;
  }

  @include vp-1640 {
    padding: 20px 30px;
  }
}

.hero__card-price {
  margin: 5px 0 0;
  font-weight: 700;
  font-size: 18px;
  color: var(--black);

  @include vp-1366 {
    font-size: 22px;
  }

  @include vp-1640 {
    margin: 3px 0 0;
    font-size: 30px;
  }
}

.hero__card-link {
  @include vp-768 {
    justify-self: stretch;
    padding: 7px 15px;
    font-weight: 400;
    font-size: 14px;
  }

  @include vp-1366 {
    justify-self: end;
    min-width: 180px;
    padding: 16px 15px 13px;
    font-size: 18px;
  }
}

.hero__form {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
  margin: 55px 24px 34px 20px;
  padding: 20px;
  background-color: var(--bg-primary);
  border-radius: 5px;
  overflow-x: hidden;
  z-index: 2;

  @include vp-768 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: start;
    margin: 20px;
    padding: 27px 30px 14px;
  }

  @include vp-1024 {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0;
  }
}

.hero__form-wrapper {
  @include vp-1024 {
    display: grid;
    grid-template-columns: minmax(0, 584fr) minmax(0, 584fr) minmax(0, 620fr);
    gap: 5px 16px;
  }
}

.hero__form-item {
  @include vp-1024 {
    &:first-child {
      margin-right: 10px;
    }

    &:nth-child(3n) {
      margin-left: 40px
    }
  }
}

.hero__select {
  @include select-standard;

  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0;
  }
}

.hero__range {
  @include range;

  padding: 7px 0;
}

.hero__form-button {
  width: 100%;
  margin: 26px 0 0;
  padding: 7px 15px 4px;
  font-size: 18px;

  @include vp-1024 {
    width: unset;
    margin: 26px 0 14px 40px;
  }
}
