@use "index" as *;

.offers__tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 41px;
  padding: 0;
  list-style-type: none;

  @include vp-1024 {
    margin: 0 0 20px;
  }

  @include vp-1640 {
    gap: 10px 15px;
  }
}

.offers__tag {
  @include tag-dark;

  padding: 6px 23px 4px;
  font-size: 18px;

  @include vp-1640 {
    padding: 6px 25px 4px;
  }
}

.offers__list {
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px 9px;
  }

  @include vp-1024 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.offers__card {
  @include offer-card;

  @include vp-768 {
    height: 100%;
  }

  &:not(:last-child) {
    margin: 0 0 20px;

    @include vp-768 {
      margin: 0;
    }
  }
}

.offers__card:first-child {
  @include vp-1024 {
    grid-column: 1 / 3;
  }

  .offers__card-content {
    @include vp-1024 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr auto auto;
      gap: 10px 20px;
    }

    @include vp-1366 {
      grid-template-columns: 2fr 3fr auto;
      gap: 13px 20px;
    }

    @include vp-1640 {
      grid-template-columns: 14fr 15fr auto;
    }
  }

  .offers__card-info {
    @include vp-1024 {
      display: block;
      margin: 0;
    }

    @include vp-1366 {
      grid-area: 1 / 1 / 3 / 2;
    }
  }

  .offers__card-location {
    @include vp-1024 {
      margin: 0 0 15px;
    }
  }

  .offers__card-description {
    @include vp-1024 {
      display: block;
      grid-area: 2 / 1 / 3 / 2;
      align-self: end;
      margin: 0 0 16px;
      letter-spacing: 0;
    }

    @include vp-1366 {
      grid-area: 1 / 2 / 3 / 3;
      font-size: 14px;
    }

    @include vp-1640 {
      font-size: 16px;
    }

    @include vp-1640 {
      font-size: 18px;
    }
  }

  .offers__card-details {
    @include vp-1024 {
      align-self: end;
      grid-template-columns: repeat(2, auto);
      gap: 12px 19px;
      margin: 0 0 18px;
    }

    @include vp-1366 {
      min-width: 225px;
    }

    @include vp-1640 {
      min-width: 313px;
    }
  }

  .offers__card-price {
    @include vp-1024 {
      margin: 0;
    }
  }

  .offers__card-links {
    @include vp-1024 {
      grid-column: 1 / 3;
    }

    @include vp-1366 {
      grid-column: 1 / 4;
    }
  }
}

.offers__link-more {
  @include link-more;

  margin-left: auto;
}
