@use "index" as *;

.project__breadcrumbs {
  margin: 0 0 7px;

  @include vp-1024 {
    margin: 0 0 13px;
  }
}

.project__header {
  @include page-header-title;

  margin: 0 0 11px;

  @include vp-1366 {
    margin: 0 0 39px;
    padding: 38px 30px 36px;
  }
}

.project__main {
  margin: 0 0 37px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px 10px;
  }

  @include vp-1024 {
    grid-template-columns: 1fr 480px;
    gap: 10px;
  }

  @include vp-1366 {
    grid-template-columns: 125fr 62fr;
    margin: 0 0 80px;
  }

  @include vp-1640 {
    gap: 40px 10px;
  }
}

.project__images-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  gap: 10px 6px;
  margin: 0 0 19px;

  @include vp-500 {
    margin: 0 0 30px;
  }

  @include vp-768 {
    margin: 0;
  }

  @include vp-1024 {
    grid-area: 1 / 1 / 3 / 2;
  }

  @include vp-1640 {
    gap: 20px;
  }
}

.project__img {
  position: relative;
  aspect-ratio: 87 / 76;
  border-radius: 5px;
  overflow: hidden;

  @include vp-1366 {
    aspect-ratio: 299 / 260;
  }

  &:first-child {
    aspect-ratio: 362 / 300;
    grid-column: 1 / 5;

    @include vp-1024 {
      aspect-ratio: unset;
    }
  }

  img {
    @include img-cover;

    @include vp-1024 {
      @include img-bg;
    }
  }
}

.project__info {
  margin: 0 0 40px;

  @include vp-768 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.project__info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 15px;
  padding: 0;

  @include vp-768 {
    display: block;
    margin: 15px 0;
  }

  @include vp-1024 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 20px;
  }

  @include vp-1366 {
    display: block;
  }

  @include vp-1640 {
    margin: 0 0 35px;
  }

  div:not(:last-child) {
    @include vp-768 {
      margin: 0 0 30px;
    }

    @include vp-1024 {
      margin: 0;
    }

    @include vp-1366 {
      margin: 0 0 35px;
    }
  }

  div:nth-child(3n + 1) {
    justify-self: start;

    @include vp-768 {
      justify-self: unset;
    }

    @include vp-1024 {
      justify-self: start;
    }

    @include vp-1366 {
      justify-self: unset;
    }
  }

  div:nth-child(3n + 2) {
    justify-self: center;

    @include vp-768 {
      justify-self: unset;
    }

    @include vp-1024 {
      justify-self: center;
    }

    @include vp-1366 {
      justify-self: unset;
    }
  }

  div:nth-child(3n) {
    justify-self: end;

    @include vp-768 {
      justify-self: unset;
    }

    @include vp-1024 {
      justify-self: end;
    }

    @include vp-1366 {
      justify-self: unset;
    }
  }

  dt {
    margin: 0 0 2px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--grey);
    text-transform: uppercase;

    @include vp-500 {
      margin: 0 0 5px;
      font-size: 16px;
    }

    @include vp-768 {
      margin: 0 0 10px;
      font-size: 18px;
    }

    @include vp-1024 {
      font-size: 16px;
    }

    @include vp-1366 {
      font-size: 20px;
    }
  }

  dd {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-basic);

    @include vp-500 {
      font-size: 20px;
    }

    @include vp-768 {
      font-size: 25px;
      line-height: 0.9;
      letter-spacing: -0.03em;
    }

    @include vp-1024 {
      font-size: 20px;
    }

    @include vp-1366 {
      font-size: 30px;
    }
  }
}

.project__info-footer {
  padding: 7px 11px 13px;
  background-color: var(--bg-accent);
  border-radius: 5px;

  @include vp-768 {
    margin: auto 0 0;
    padding: 15px;
  }

  @include vp-1024 {
    margin: 0;
  }

  @include vp-1640 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding: 22px 30px 22px;
  }
}

.project__info-price {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 18px;
  color: var(--white);

  @include vp-500 {
    font-size: 22px;
  }

  @include vp-768 {
    margin: 0 0 10px;
    font-size: 20px;
  }

  @include vp-1366 {
    font-size: 25px;
  }

  @include vp-1640 {
    margin: 0;
  }

  @include vp-1920 {
    font-size: 30px;
  }
}

.project__info-links {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;

  @include vp-1640 {
    justify-items: end;
    gap: 10px;
  }
}

.project__info-link {
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 18px;

  @include vp-1024 {
    height: 100%;
  }

  @include vp-1640 {
    width: 100%;
    max-width: 180px;
  }
}

.project__info-socials-link {
  @include social-link;

  width: 40px;
  height: 40px;

  @include vp-1024 {
    width: 50px;
    height: 50px;
  }

  @include hover-focus {
    --bg-color: var(--bg-primary);
  }

  @include active {
    --bg-color: var(--bg-primary-opacity);
  }
}

.project__expert {
  @include expert-card;

  @include vp-768 {
    grid-column: 1 / 3;
  }

  @include vp-1024 {
    grid-column: unset;
  }
}

.project__about {
  @include vp-1024 {
    display: grid;
    grid-template-columns: 1fr 480px;
    gap: 20px;
  }

  @include vp-1366 {
    grid-template-columns: 125fr 62fr;
    gap: 10px;
  }
}

.project__about-wrapper {
  margin: 0 0 18px;
}

.project__about-title {
  margin: 0 0 16px;

  @include vp-1366 {
    margin: 0 0 28px;
  }
}

.project__about-content {
  max-width: 925px;

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text-secondary);

    @include vp-768 {
      font-size: 18px;
    }
  }

  p + p {
    margin-top: 18px;

    @include vp-1366 {
      margin-top: 23px;
    }
  }
}

.project__about-details {
  padding: 17px 20px 13px;
  color: var(--white);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-768 {
    align-self: start;
    margin: 3px 0 0;
  }

  @include vp-1920 {
    padding: 23px 10px 20px 30px;
  }
}

.project__about-subtitle {
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 20px;

  @include vp-1366 {
    margin: 0 0 33px;
    font-weight: 700;
    font-size: 30px;
  }
}

.project__about-chars {
  margin: 0;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 30px;
  }

  @include vp-1024 {
    gap: 20px;
  }

  @include vp-1920 {
    gap: 11px 46px;
  }

  div {
    &:not(:last-child) {
      margin: 0 0 12px;

      @include vp-768 {
        margin: 0;
      }
    }
  }

  dt {
    margin: 0 0 4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--grey);

    @include vp-1640 {
      font-size: 18px;
    }

    @include vp-1920 {
      font-size: 20px;
      letter-spacing: -0.01em;
    }
  }

  dd {
    margin: 0;
    font-weight: 400;
    font-size: 18px;

    @include vp-1640 {
      font-size: 25px;
      line-height: 0.9;
      letter-spacing: -0.03em;
    }

    @include vp-1920 {
      font-size: 30px;
    }
  }
}
