@use "index" as *;

.team__header {
  @include block-header;
}

.team__title br {
  display: none;

  @include vp-1366 {
    display: block;
  }
}

.team__swiper-wrapper {
  display: flex;
  gap: 10px;
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-1366 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.swiper-wrapper {
    display: flex;
    gap: unset;
  }

  @include vp-400 {
    margin: 0 0 20px;
  }
}

.team__slide {
  @include slide-layout;
}

.team__card {
  @include slide-container;

  padding: 17px 20px 20px;
  color: var(--white);
  background-color: var(--bg-primary);
  border-radius: 5px;

  @include vp-500 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 13px;
  }

  @include vp-1920 {
    padding: 13px 30px 20px;
  }
}

.team__card-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 15px;
  margin: 0 0 16px;
  z-index: 1;

  @include vp-500 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  @include vp-1920 {
    max-width: 217px;
  }
}

.team__card-name {
  grid-column: 1 / 3;
  display: flex;
  gap: 4px;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 20px;

  @include vp-500 {
    grid-column: unset;
    flex-direction: column;
    gap: 0;
    margin: 0 0 27px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
  }

  @include vp-768 {
    min-height: 48px;
    font-size: 20px;
  }

  @include vp-1024 {
    min-height: 60px;
    font-size: 25px;
  }

  @include vp-1366 {
    min-height: 53px;
    font-size: 22px;
  }

  @include vp-1640 {
    min-height: 60px;
    font-size: 25px;
  }

  @include vp-1920 {
    min-height: 72px;
    font-size: 30px;
    letter-spacing: 0.02em;
  }
}

.team__card-position {
  margin: 0 0 2px;
  font-weight: 400;
  font-size: 14px;

  @include vp-400 {
    font-size: 18px;
  }

  @include vp-500 {
    min-height: 37px;
    margin: 0 0 20px;
    font-size: 16px;
  }

  @include vp-1024 {
    min-height: 43px;
    font-size: 18px;
    line-height: 1.2;
  }

  @include vp-1640 {
    min-height: 48px;
    margin: 0 0 11px;
    font-size: 20px;
  }
}

.team__card-char {
  @include vp-500 {
    margin: 0 0 20px;
  }

  div {
    &:not(:last-child) {
      margin: 0 0 5px;
    }
  }

  dd,
  dt {
    display: inline;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--grey);

    @include vp-1024 {
      font-size: 16px;
      line-height: 1.2;
    }

    @include vp-1640 {
      font-size: 18px;
      letter-spacing: 0;
    }
  }
}

.team__socials {
  grid-area: 2 / 2 / 4 / 3;
  place-self: end;
  display: flex;
  gap: 5px;
  margin: 0 0 4px;
  padding: 0;
  list-style-type: none;

  @include vp-500 {
    grid-area: unset;
    align-self: flex-start;
    margin: auto 0 0;
  }

  @include vp-1366 {
    gap: 10px;
  }
}

.team__socials-link {
  @include social-link;

  width: 30px;
  height: 30px;

  @include vp-1366 {
    width: 42px;
    height: 42px;
  }
}

.team__image {
  aspect-ratio: 322 / 358;
  border-radius: 5px;
  overflow: hidden;

  @include vp-768 {
    aspect-ratio: unset;
  }

  @include vp-1920 {
    margin: 5px 0 0;
  }

  img {
    @include img-cover;
  }
}

.team__swiper-button-container {
  @include swiper-button-position;

  &.hidden {
    display: none;
  }
}
