<section class="about">
  <div class="container">
    <h2 class="about__title title">Your strategic partner for&nbsp;business acquisitions in&nbsp;the&nbsp;UAE</h2>
    <div class="about__wrapper">
      <div class="about__image">
        <picture>
          <source width="1250" height="835" type="image/webp" media="(min-width: 768px)" srcset="../img/about/about-tablet@1x.webp 1x, ../img/about/about-tablet@2x.webp 2x">
          <source width="599" height="400" type="image/webp" srcset="../img/about/about-mobile@1x.webp 1x, ../img/about/about-mobile@2x.webp 2x">
          <source width="1250" height="835" type="image/jpg" media="(min-width: 768px)" srcset="../img/about/about-tablet@1x.jpg 1x, ../img/about/about-tablet@2x.jpg 2x">
          <img src="../img/about/about-mobile@1x.jpg" srcset="../img/about/about-mobile@2x.jpg 2x" width="599" height="400" alt="People">
        </picture>
      </div>
      <div class="about__content">
        <p>Don&rsquo;t just take our word for&nbsp;it. Our greatest proof is&nbsp;the success of&nbsp;our investors and business buyers. These are verified testimonials from real clients who have successfully acquired profitable assets and navigated complex transactions with our expert guidance. Read their stories to&nbsp;understand the level of&nbsp;security, transparency, and strategic value we&nbsp;bring to&nbsp;every deal.</p>
        <p>At&nbsp;SBRE, we&nbsp;don&rsquo;t just broker transactions; we&nbsp;facilitate strategic investments. Our mission is&nbsp;to&nbsp;connect ambitious investors and entrepreneurs with high-value, pre-vetted businesses and commercial assets across the UAE, specifically focusing on&nbsp;Dubai and Sharjah. We&nbsp;specialize in&nbsp;operational, profitable ventures across key sectors&mdash;from F&amp;B and Retail to&nbsp;Healthcare and specialized services&mdash;providing a&nbsp;true &rsquo;Skip the Setup&rsquo; shortcut to&nbsp;immediate market entry and capital growth.</p>
      </div>
    </div>
  </div>
</section>
