<section class="blog-preview">
  <div class="container">
    <h2 class="blog-preview__title title">Blog</h2>
    <div class="blog-preview__swiper-container">
      <div class="blog-preview__swiper" data-swiper="navigation">
        <ul class="blog-preview__swiper-wrapper">
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <div class="blog-preview__card-header">
                <p class="blog-preview__theme">Theme</p>
                <p class="blog-preview__data">Data</p>
              </div>
              <div class="blog-preview__content">
                <p>TechCorp has transformed our workflow with their innovative solutions. Their project management system helped&nbsp;us streamline communication and enhance productivity immensely. Highly recommend!</p>
              </div>
              <a class="blog-preview__link-more" href="#">View more</a>
            </div>
          </li>
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <div class="blog-preview__card-header">
                <p class="blog-preview__theme">Theme</p>
                <p class="blog-preview__data">Data</p>
              </div>
              <div class="blog-preview__content">
                <p>GreenTech Solutions has revolutionized our environmental sustainability efforts. Their analytics platform provided insights that allowed&nbsp;us to&nbsp;reduce waste and optimize resource usage. Exceptional service!</p>
              </div>
              <a class="blog-preview__link-more" href="#">View more</a>
            </div>
          </li>
          <li class="blog-preview__slide">
            <div class="blog-preview__card">
              <div class="blog-preview__card-header">
                <p class="blog-preview__theme">Theme</p>
                <p class="blog-preview__data">Data</p>
              </div>
              <div class="blog-preview__content">
                <p>HealthMax Innovations has improved our patient care through their advanced telemedicine tools. The user-friendly interface and reliable support made the implementation seamless. Absolutely invaluable!</p>
              </div>
              <a class="blog-preview__link-more" href="#">View more</a>
            </div>
          </li>
        </ul>
        <div class="blog-preview__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
