<section class="contact-us">
  <div class="container">
    <div class="contact-us__wrapper">
      <div class="contact-us__details">
        <h2 class="contact-us__title title">Contacts</h2>
        <ul class="contact-us__list">
          <li class="contact-us__item">
            <address class="contact-us__address">
              <p class="contact-us__contacts-label">Number</p>
              <a class="contact-us__contacts-text contact-us__contacts-text--link" href="tel:+971586386980">+971&nbsp;58&nbsp;638&nbsp;6980</a>
            </address>
          </li>
          <li class="contact-us__item">
            <address class="contact-us__address">
              <p class="contact-us__contacts-label">Mail</p>
              <a class="contact-us__contacts-text contact-us__contacts-text--link" href="mailto:info@sandboxdxb.com">info@sandboxdxb.com</a>
            </address>
          </li>
          <li class="contact-us__item contact-us__item--address">
            <address class="contact-us__address">
              <p class="contact-us__contacts-label contact-us__contacts-label--address">Address</p>
              <p class="contact-us__contacts-text">DUBAI, <br>UNITED&nbsp;ARAB&nbsp;EMIRATES <br>103&nbsp;office, Yansoon&nbsp;9, <br>Downtown&nbsp;Dubai</p>
            </address>
          </li>
        </ul>
      </div>
      <form class="contact-us__form" action="" method="post">
        <fieldset class="contact-us__form-group">
          <legend class="contact-us__form-title">There are still questions ?</legend>
          <ul class="contact-us__form-list">
            <li class="contact-us__form-item">
              <label class="contact-us__field">
                <span class="contact-us__label">Name</span>
                <input class="contact-us__input" type="text" name="name">
              </label>
            </li>
            <li class="contact-us__form-item">
              <label class="contact-us__field">
                <span class="contact-us__label">Email</span>
                <input class="contact-us__input" type="email" name="email">
              </label>
            </li>
            <li class="contact-us__form-item">
              <label class="contact-us__field">
                <span class="contact-us__label">Phone</span>
                <input class="contact-us__input" type="tel" name="phone">
              </label>
            </li>
          </ul>
        </fieldset>
        <div class="contact-us__form-footer">
          <label class="contact-us__accept">
            <span class="contact-us__label">I&nbsp;confirm that&nbsp;I have read the Personal Data Processing Policy and consent to&nbsp;the processing of&nbsp;my&nbsp;personal data in&nbsp;the manner and under the conditions specified in&nbsp;the Policy.</span>
            <input class="visually-hidden" type="checkbox" name="accept" required>
          </label>
          <button class="contact-us__form-button button button--dark" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
