<div class="disclamer">
  <div class="container">
    <p class="disclamer__title title">Disclamer</p>
    <div class="disclamer__text">
      <p>This Listing has been produced by&nbsp;a&nbsp;User of&nbsp;our Site and, in&nbsp;accordance with our Terms and Conditions and Marketplace Policy, we&nbsp;are not responsible for the content of&nbsp;the Listing or&nbsp;any information or&nbsp;materials referenced in&nbsp;the Listing. You should undertake your own due diligence in&nbsp;respect of&nbsp;the contents of&nbsp;the Listing and any queries should be&nbsp;directed directly to&nbsp;the Seller using the contact form set out above.</p>
    </div>
  </div>
</div>
