<section class="featured">
  <div class="container">
    <h2 class="featured__title title">We've been featured</h2>
    <div class="featured__swiper-container">
      <div class="featured__swiper" data-swiper="navigation">
        <ul class="featured__swiper-wrapper">
          <li class="featured__slide"></li>
          <li class="featured__slide"></li>
          <li class="featured__slide"></li>
          <li class="featured__slide"></li>
          <li class="featured__slide"></li>
          <li class="featured__slide"></li>
        </ul>
        <div class="featured__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
