<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <a class="footer__logo" href="index.html">Logo</a>
        <div class="footer__nav">
          <p class="footer__subtitle">Navigation</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="index.html">Home</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Catalog</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Payment Methods</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Contacts</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer__info">
          <p class="footer__subtitle">Information</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="index.html">Home</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Catalog</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Payment Methods</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Contacts</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Blog</a>
            </li>
          </ul>
          <ul class="footer__socials">
            <li class="footer__socials-item">
              <a class="footer__socials-link footer__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Whatsapp.</span>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link footer__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Telegram.</span>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link footer__socials-link--instagram" href="#" target="_blank" rel="noreferrer noopener">
                <span class="visually-hidden">Instagram.</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__name">Name Company</p>
        <a class="footer__privacy" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
