<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__main">
        <div class="hero__main-content">
          <h1 class="hero__title">Business For Sale <br>Marketplace in&nbsp;Dubai</h1>
          <p>Leading online marketplace for buying and selling businesses in&nbsp;Dubai. Access popular categories, investor profiles, valuation tools, FAQs, and resources for successful deals</p>
        </div>
        <div class="hero__main-image">
          <picture>
            <source width="1250" height="679" type="image/webp" media="(min-width: 768px)" srcset="../img/hero/hero-tablet@1x.webp 1x, ../img/hero/hero-tablet@2x.webp 2x">
            <source width="770" height="770" type="image/webp" srcset="../img/hero/hero-mobile@1x.webp 1x, ../img/hero/hero-mobile@2x.webp 2x">
            <source width="1250" height="679" type="image/jpg" media="(min-width: 768px)" srcset="../img/hero/hero-tablet@1x.jpg 1x, ../img/hero/hero-tablet@2x.jpg 2x">
            <img src="../img/hero/hero-mobile@1x.jpg" srcset="../img/hero/hero-mobile@2x.jpg 2x" width="770" height="770" alt="House">
          </picture>
        </div>
      </div>
      <div class="hero__card">
        <a class="hero__card-content" href="#">
          <div class="hero__card-header">
            <div class="hero__card-header-left">
              <p>Retail Paradise</p>
            </div>
            <div class="hero__card-header-right">
              <p>Dubai</p>
            </div>
          </div>
          <p class="hero__card-title">A&nbsp;running and profitable Hypermarket</p>
          <div class="hero__card-image">
            <picture>
              <source width="600" height="539" type="image/webp" srcset="../img/hero/hero-card-tablet@1x.webp 1x, ../img/hero/hero-card-tablet@2x.webp 2x">
              <img src="../img/hero/hero-card-tablet@1x.jpg" srcset="../img/hero/hero-card-tablet@2x.jpg 2x" width="600" height="539" alt="House">
            </picture>
          </div>
        </a>
        <div class="hero__card-info">
          <p class="hero__card-price">7&nbsp;500&nbsp;000&nbsp;AED</p>
          <a class="hero__card-link button" href="#">Register</a>
        </div>
      </div>
      <form class="hero__form" action="" method="post">
        <div class="hero__form-wrapper">
          <div class="hero__form-item hero__select select">
            <label class="visually-hidden" for="select-location">Location.</label>
            <button class="hero__select-button select__button" type="button" aria-label="Select location.">Location</button>
            <select class="select__original" id="select-location" name="location" aria-label="Location options.">
              <option value="al-wasl-eoad">Al Wasl Eoad</option>
              <option value="dip">DIP</option>
              <option value="jumeirah-road">Jumeirah Road</option>
              <option value="al-warqa">Al Warqa</option>
              <option value="business-bay">Business Bay</option>
              <option value="sheik-zayed-road">Sheik Zayed Road</option>
              <option value="jeddaf">Jeddaf</option>
              <option value="dubai-investment-park-1">Dubai Investment Park&nbsp;1 (DIP&nbsp;1)</option>
              <option value="world-trade-center">World Trade Center</option>
              <option value="deira">Deira</option>
              <option value="trade-center">Trade Center</option>
              <option value="jlt">JLT</option>
              <option value="jumeirah">Jumeirah</option>
              <option value="karama">Karama</option>
              <option value="dubai">Dubai</option>
              <option value="dubai-marina">Dubai Marina</option>
              <option value="palm-jumeirah">Palm Jumeirah</option>
              <option value="al-wasl">Al Wasl</option>
              <option value="creek-harbour">Creek Harbour</option>
              <option value="bur-dubai">Bur Dubai</option>
              <option value="jumeirah-park">Jumeirah Park</option>
              <option value="difc">DIFC</option>
              <option value="sharjah">Sharjah</option>
              <option value="umm-hurair-2">Umm Hurair 2</option>
              <option value="al-barsha">Al Barsha</option>
              <option value="jbr">JBR</option>
              <option value="internet-city">Internet City</option>
              <option value="diera">Diera</option>
              <option value="al-mankhool">Al Mankhool</option>
              <option value="sports-city">Sports City</option>
              <option value="warsan">Warsan</option>
              <option value="mirdiff">Mirdiff</option>
              <option value="al-nanda">Al Nanda</option>
              <option value="majan">Majan</option>
              <option value="tecom">Tecom</option>
              <option value="barsha">Barsha</option>
            </select>
          </div>
          <div class="hero__form-item hero__select select">
            <label class="visually-hidden" for="select-property-type">Property type.</label>
            <button class="hero__select-button select__button" type="button" aria-label="Select property type.">Property Type</button>
            <select class="select__original" id="select-property-type" name="property-type" aria-label="Property type options.">
              <option value="villa">Villa</option>
              <option value="retail">Sho/Retail</option>
              <option value="office">Office</option>
              <option value="building">Building</option>
              <option value="warehouse">Warehouse</option>
            </select>
          </div>
          <div class="hero__form-item hero__select select">
            <label class="visually-hidden" for="select-business-type">Type of business.</label>
            <button class="hero__select-button select__button" type="button" aria-label="Select type of business.">Type of business</button>
            <select class="select__original" id="select-business-type" name="business-type" aria-label="Type of business options.">
              <option value="restaurants">Restaurants</option>
              <option value="cafe">Cafe</option>
              <option value="bakeries">Bakeries</option>
              <option value="education">Education</option>
              <option value="childcare">Childcare</option>
              <option value="retail-stores">Retail Stores</option>
              <option value="beaty">Beaty & Wellness</option>
              <option value="healthcare">Healthcare</option>
              <option value="hospitality">Hospitality & Leisure</option>
              <option value="services">Professional Services</option>
              <option value="industrial">Industrial & Manufacturing</option>
              <option value="workshop">Workshop</option>
              <option value="automotive">Automotive</option>
              <option value="transporation">Transporation</option>
              <option value="fb-trading">F&B Trading</option>
            </select>
          </div>
          <div class="hero__form-item hero__range range" data-range="min-price">
            <p class="hero__range-title">Price&nbsp;AED (min)</p>
            <div class="hero__range-current range__current">
              <span class="hero__range-current-value range__current-value">0</span>
            </div>
            <label class="range__label" aria-label="minimum value">
              <input class="visually-hidden range__input range__input--min" type="number" name="min-price">
            </label>
            <div class="hero__range-container range__container"></div>
            <div class="hero__range-values">
              <p class="hero__range-value">300&nbsp;000</p>
              <p class="hero__range-value">450&nbsp;000</p>
            </div>
          </div>
          <div class="hero__form-item hero__range range" data-range="max-price">
            <p class="hero__range-title">Price&nbsp;AED (max)</p>
            <div class="hero__range-current range__current">
              <span class="hero__range-current-value range__current-value">0</span>
            </div>
            <label class="range__label" aria-label="minimum value">
              <input class="visually-hidden range__input range__input--min" type="number" name="max-price">
            </label>
            <div class="hero__range-container range__container"></div>
            <div class="hero__range-values">
              <p class="hero__range-value">450&nbsp;000</p>
              <p class="hero__range-value">700&nbsp;000</p>
            </div>
          </div>
          <button class="hero__form-item hero__form-button button" type="submit">Find Business</button>
        </div>
      </form>
    </div>
  </div>
</section>
