<div class="modal modal--close" data-modal="callback-form">
  <div class="modal__container">
    <button class="modal__close-button" type="button">
      <span class="visually-hidden">Закрыть.</span>
    </button>
    <form class="form" action="" method="post">
      <fieldset class="form__form-group">
        <legend class="form__form-title">There are still questions ?</legend>
        <ul class="form__form-list">
          <li class="form__form-item">
            <label class="form__field">
              <span class="form__label">Name</span>
              <input class="form__input" type="text" name="name" placeholder="Name">
            </label>
          </li>
          <li class="form__form-item">
            <label class="form__field">
              <span class="form__label">Email</span>
              <input class="form__input" type="email" name="email" placeholder="Email">
            </label>
          </li>
          <li class="form__form-item">
            <label class="form__field">
              <span class="form__label">Phone</span>
              <input class="form__input" type="tel" name="phone" placeholder="Phone">
            </label>
          </li>
        </ul>
      </fieldset>
      <div class="form__form-footer">
        <label class="form__accept">
          <span class="form__label">I&nbsp;confirm that&nbsp;I have read the Personal Data Processing Policy and consent to&nbsp;the processing of&nbsp;my&nbsp;personal data in&nbsp;the manner and under the conditions specified in&nbsp;the Policy.</span>
          <input class="visually-hidden" type="checkbox" name="accept" required>
        </label>
        <button class="form__form-button button button--dark" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
