<div class="modal" modal-success>
  <div class="modal__container">
    <button class="modal__close-button" type="button">
      <span class="visually-hidden">Закрыть.</span>
    </button>
    <div class="success">
      <p class="success__title">Your catalog request has been sent.</p>
      <div class="success__text">
        <p>We'll contact you shortly.</p>
        <p>In&nbsp;the meantime, you can follow&nbsp;us on&nbsp;Instagram and Telegram.</p>
      </div>
      <ul class="success__socials">
        <li class="success__socials-item popup-social">
          <a class="success__socials-link success__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
            <span class="visually-hidden">Telegram.</span>
          </a>
        </li>
        <li class="success__socials-item">
          <a class="success__socials-link success__socials-link--instagram" href="#" target="_blank" rel="noreferrer noopener">
            <span class="visually-hidden">Instagram.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
