<section class="offers">
  <div class="container">
    <h2 class="visually-hidden">Featured offers</h2>
    <ul class="offers__list" data-cards-clickable>
      <li class="offers__card">
        <div class="offers__card-image">
          <picture>
            <source width="1250" height="679" type="image/webp" media="(min-width: 768px)" srcset="../img/offers/offers-1-tablet@1x.webp 1x, ../img/offers/offers-1-tablet@2x.webp 2x">
            <source width="362" height="352" type="image/webp" srcset="../img/offers/offers-1-mobile@1x.webp 1x, ../img/offers/offers-1-mobile@2x.webp 2x">
            <source width="1250" height="679" type="image/jpg" media="(min-width: 768px)" srcset="../img/offers/offers-1-tablet@1x.jpg 1x, ../img/offers/offers-1-tablet@2x.jpg 2x">
            <img src="../img/offers/offers-1-mobile@1x.jpg" srcset="../img/offers/offers-1-mobile@2x.jpg 2x" width="362" height="352" alt="House">
          </picture>
        </div>
        <div class="offers__card-content">
          <div class="offers__card-info">
            <p class="offers__card-location">Dubai</p>
            <a class="offers__card-title" href="#">A&nbsp;running and profitable <br>Hypermarket</a>
          </div>
          <p class="offers__card-description">GreenTech Solutions has revolutionized our environmental sustainability efforts. Their analytics platform provided insights that allowed&nbsp;us to&nbsp;reduce waste and optimize resource usage. Exceptional service!</p>
          <div class="offers__card-details">
            <p class="offers__card-rent">RENT PER&nbsp;YEAR</p>
            <p class="offers__card-rent-value">1&nbsp;200&nbsp;000&nbsp;AED</p>
            <p class="offers__card-area">SQFT</p>
            <p class="offers__card-area-value">15&nbsp;000</p>
          </div>
          <p class="offers__card-price">7&nbsp;500&nbsp;000&nbsp;AED</p>
          <div class="offers__card-links popup-social" data-popup="whatsapp">
            <a class="offers__card-link button" href="#" data-modal-button="callback-form">Register</a>
            <a class="offers__card-socials-link offers__card-socials-link--whatsapp" href="#">
              <span class="visually-hidden">Whatsapp.</span>
            </a>
          </div>
        </div>
      </li>
      <li class="offers__card">
        <div class="offers__card-image">
          <picture>
            <source width="1250" height="679" type="image/webp" media="(min-width: 768px)" srcset="../img/offers/offers-2-tablet@1x.webp 1x, ../img/offers/offers-2-tablet@2x.webp 2x">
            <source width="362" height="352" type="image/webp" srcset="../img/offers/offers-2-mobile@1x.webp 1x, ../img/offers/offers-2-mobile@2x.webp 2x">
            <source width="1250" height="679" type="image/jpg" media="(min-width: 768px)" srcset="../img/offers/offers-2-tablet@1x.jpg 1x, ../img/offers/offers-2-tablet@2x.jpg 2x">
            <img src="../img/offers/offers-2-mobile@1x.jpg" srcset="../img/offers/offers-2-mobile@2x.jpg 2x" width="362" height="352" alt="House">
          </picture>
        </div>
        <div class="offers__card-content">
          <div class="offers__card-info">
            <p class="offers__card-location">Dubai</p>
            <a class="offers__card-title" href="#">A&nbsp;running and profitable <br>Hypermarket</a>
          </div>
          <p class="offers__card-description">GreenTech Solutions has revolutionized our environmental sustainability efforts. Their analytics platform provided insights that allowed&nbsp;us to&nbsp;reduce waste and optimize resource usage. Exceptional service!</p>
          <div class="offers__card-details">
            <p class="offers__card-rent">RENT PER&nbsp;YEAR</p>
            <p class="offers__card-rent-value">1&nbsp;200&nbsp;000&nbsp;AED</p>
            <p class="offers__card-area">SQFT</p>
            <p class="offers__card-area-value">15&nbsp;000</p>
          </div>
          <p class="offers__card-price">7&nbsp;500&nbsp;000&nbsp;AED</p>
          <div class="offers__card-links popup-social" data-popup="whatsapp">
            <a class="offers__card-link button" href="#" data-modal-button="callback-form">Register</a>
            <a class="offers__card-socials-link offers__card-socials-link--whatsapp" href="#">
              <span class="visually-hidden">Whatsapp.</span>
            </a>
          </div>
        </div>
      </li>
      <li class="offers__card">
        <div class="offers__card-image">
          <picture>
            <source width="1250" height="679" type="image/webp" media="(min-width: 768px)" srcset="../img/offers/offers-3-tablet@1x.webp 1x, ../img/offers/offers-3-tablet@2x.webp 2x">
            <source width="362" height="352" type="image/webp" srcset="../img/offers/offers-3-mobile@1x.webp 1x, ../img/offers/offers-3-mobile@2x.webp 2x">
            <source width="1250" height="679" type="image/jpg" media="(min-width: 768px)" srcset="../img/offers/offers-3-tablet@1x.jpg 1x, ../img/offers/offers-3-tablet@2x.jpg 2x">
            <img src="../img/offers/offers-3-mobile@1x.jpg" srcset="../img/offers/offers-3-mobile@2x.jpg 2x" width="362" height="352" alt="House">
          </picture>
        </div>
        <div class="offers__card-content">
          <div class="offers__card-info">
            <p class="offers__card-location">Dubai</p>
            <a class="offers__card-title" href="#">A&nbsp;running and profitable <br>Hypermarket</a>
          </div>
          <p class="offers__card-description">GreenTech Solutions has revolutionized our environmental sustainability efforts. Their analytics platform provided insights that allowed&nbsp;us to&nbsp;reduce waste and optimize resource usage. Exceptional service!</p>
          <div class="offers__card-details">
            <p class="offers__card-rent">RENT PER&nbsp;YEAR</p>
            <p class="offers__card-rent-value">1&nbsp;200&nbsp;000&nbsp;AED</p>
            <p class="offers__card-area">SQFT</p>
            <p class="offers__card-area-value">15&nbsp;000</p>
          </div>
          <p class="offers__card-price">7&nbsp;500&nbsp;000&nbsp;AED</p>
          <div class="offers__card-links popup-social" data-popup="whatsapp">
            <a class="offers__card-link button" href="#" data-modal-button="callback-form">Register</a>
            <a class="offers__card-socials-link offers__card-socials-link--whatsapp" href="#">
              <span class="visually-hidden">Whatsapp.</span>
            </a>
          </div>
        </div>
      </li>
      <li class="offers__card">
        <div class="offers__card-image">
          <picture>
            <source width="1250" height="679" type="image/webp" media="(min-width: 768px)" srcset="../img/offers/offers-4-tablet@1x.webp 1x, ../img/offers/offers-4-tablet@2x.webp 2x">
            <source width="362" height="352" type="image/webp" srcset="../img/offers/offers-4-mobile@1x.webp 1x, ../img/offers/offers-4-mobile@2x.webp 2x">
            <source width="1250" height="679" type="image/jpg" media="(min-width: 768px)" srcset="../img/offers/offers-4-tablet@1x.jpg 1x, ../img/offers/offers-4-tablet@2x.jpg 2x">
            <img src="../img/offers/offers-4-mobile@1x.jpg" srcset="../img/offers/offers-4-mobile@2x.jpg 2x" width="362" height="352" alt="House">
          </picture>
        </div>
        <div class="offers__card-content">
          <div class="offers__card-info">
            <p class="offers__card-location">Dubai</p>
            <a class="offers__card-title" href="#">A&nbsp;running and profitable <br>Hypermarket</a>
          </div>
          <p class="offers__card-description">GreenTech Solutions has revolutionized our environmental sustainability efforts. Their analytics platform provided insights that allowed&nbsp;us to&nbsp;reduce waste and optimize resource usage. Exceptional service!</p>
          <div class="offers__card-details">
            <p class="offers__card-rent">RENT PER&nbsp;YEAR</p>
            <p class="offers__card-rent-value">1&nbsp;200&nbsp;000&nbsp;AED</p>
            <p class="offers__card-area">SQFT</p>
            <p class="offers__card-area-value">15&nbsp;000</p>
          </div>
          <p class="offers__card-price">7&nbsp;500&nbsp;000&nbsp;AED</p>
          <div class="offers__card-links popup-social" data-popup="whatsapp">
            <a class="offers__card-link button" href="#" data-modal-button="callback-form">Register</a>
            <a class="offers__card-socials-link offers__card-socials-link--whatsapp" href="#">
              <span class="visually-hidden">Whatsapp.</span>
            </a>
          </div>
        </div>
      </li>
      <li class="offers__card">
        <div class="offers__card-image">
          <picture>
            <source width="1250" height="679" type="image/webp" media="(min-width: 768px)" srcset="../img/offers/offers-5-tablet@1x.webp 1x, ../img/offers/offers-5-tablet@2x.webp 2x">
            <source width="362" height="352" type="image/webp" srcset="../img/offers/offers-5-mobile@1x.webp 1x, ../img/offers/offers-5-mobile@2x.webp 2x">
            <source width="1250" height="679" type="image/jpg" media="(min-width: 768px)" srcset="../img/offers/offers-5-tablet@1x.jpg 1x, ../img/offers/offers-5-tablet@2x.jpg 2x">
            <img src="../img/offers/offers-5-mobile@1x.jpg" srcset="../img/offers/offers-5-mobile@2x.jpg 2x" width="362" height="352" alt="House">
          </picture>
        </div>
        <div class="offers__card-content">
          <div class="offers__card-info">
            <p class="offers__card-location">Dubai</p>
            <a class="offers__card-title" href="#">A&nbsp;running and profitable <br>Hypermarket</a>
          </div>
          <p class="offers__card-description">GreenTech Solutions has revolutionized our environmental sustainability efforts. Their analytics platform provided insights that allowed&nbsp;us to&nbsp;reduce waste and optimize resource usage. Exceptional service!</p>
          <div class="offers__card-details">
            <p class="offers__card-rent">RENT PER&nbsp;YEAR</p>
            <p class="offers__card-rent-value">1&nbsp;200&nbsp;000&nbsp;AED</p>
            <p class="offers__card-area">SQFT</p>
            <p class="offers__card-area-value">15&nbsp;000</p>
          </div>
          <p class="offers__card-price">7&nbsp;500&nbsp;000&nbsp;AED</p>
          <div class="offers__card-links popup-social" data-popup="whatsapp">
            <a class="offers__card-link button" href="#" data-modal-button="callback-form">Register</a>
            <a class="offers__card-socials-link offers__card-socials-link--whatsapp" href="#">
              <span class="visually-hidden">Whatsapp.</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <a class="offers__link-more" href="#">View more</a>
  </div>
</section>
