<section class="stories">
  <div class="container">
    <div class="stories__header">
      <h2 class="stories__title title">Verified success stories: see what our clients achueved in&nbsp;the UAE</h2>
      <div class="stories__header-description">
        <p>Don&rsquo;t just take our word for&nbsp;it. Our greatest proof is&nbsp;the success of&nbsp;our investors and business buyers. These are verified testimonials from real clients who have successfully acquired profitable assets and navigated complex transactions with our expert guidance. Read their stories to&nbsp;understand the level of&nbsp;security, transparency, and strategic value we&nbsp;bring to&nbsp;every deal.</p>
      </div>
    </div>
    <ul class="stories__list">
      <li class="stories__item">
        <div class="stories__info">
          <div class="stories__subtitle">
            <p>TechCorp </p>
            <p><span>Project </span><span>Alpha</span></p>
          </div>
          <dl class="stories__details">
            <div>
              <dt>Location:</dt>
              <dd>Dubai</dd>
            </div>
            <div>
              <dt>INDUSTRIES:</dt>
              <dd>Medical, Engineering</dd>
            </div>
          </dl>
          <div class="stories__image">
            <picture>
              <source width="147" height="143" type="image/webp" media="(min-width: 768px)" srcset="../img/stories/photo-1-tablet@1x.webp 1x, ../img/stories/photo-1-tablet@2x.webp 2x">
              <source width="71" height="69" type="image/webp" srcset="../img/stories/photo-1-mobile@1x.webp 1x, ../img/stories/photo-1-mobile@2x.webp 2x">
              <source width="147" height="143" type="image/jpg" media="(min-width: 768px)" srcset="../img/stories/photo-1-tablet@1x.jpg 1x, ../img/stories/photo-1-tablet@2x.jpg 2x">
              <img src="../img/stories/photo-1-mobile@1x.jpg" srcset="../img/stories/photo-1-mobile@2x.jpg 2x" width="71" height="69" alt="photo">
            </picture>
          </div>
        </div>
        <div class="stories__content">
          <p>TechCorp has transformed our workflow with their innovative solutions. Their project management system helped&nbsp;us streamline communication and enhance productivity immensely. Highly recommend!</p>
        </div>
      </li>
      <li class="stories__item">
        <div class="stories__info">
          <div class="stories__subtitle">
            <p>InnovateX </p>
            <p><span>Project </span><span>Insight</span></p>
          </div>
          <dl class="stories__details">
            <div>
              <dt>Location:</dt>
              <dd>Dubai</dd>
            </div>
            <div>
              <dt>INDUSTRIES:</dt>
              <dd>Medical, Engineering</dd>
            </div>
          </dl>
          <div class="stories__image">
            <picture>
              <source width="147" height="143" type="image/webp" media="(min-width: 768px)" srcset="../img/stories/photo-2-tablet@1x.webp 1x, ../img/stories/photo-2-tablet@2x.webp 2x">
              <source width="71" height="69" type="image/webp" srcset="../img/stories/photo-2-mobile@1x.webp 1x, ../img/stories/photo-2-mobile@2x.webp 2x">
              <source width="147" height="143" type="image/jpg" media="(min-width: 768px)" srcset="../img/stories/photo-2-tablet@1x.jpg 1x, ../img/stories/photo-2-tablet@2x.jpg 2x">
              <img src="../img/stories/photo-2-mobile@1x.jpg" srcset="../img/stories/photo-2-mobile@2x.jpg 2x" width="71" height="69" alt="photo">
            </picture>
          </div>
        </div>
        <div class="stories__content">
          <p>InnovateX provided the analytical tools we&nbsp;needed to&nbsp;gain deeper insights into our data. Their support team was incredibly responsive and knowledgeable. A&nbsp;game changer for our analytics!</p>
        </div>
      </li>
      <li class="stories__item">
        <div class="stories__info">
          <div class="stories__subtitle">
            <p>DesignHive </p>
            <p><span>Project </span><span>Revamp</span></p>
          </div>
          <dl class="stories__details">
            <div>
              <dt>Location:</dt>
              <dd>Dubai</dd>
            </div>
            <div>
              <dt>Industries:</dt>
              <dd>Medical, Engineering</dd>
            </div>
          </dl>
          <div class="stories__image">
            <picture>
              <source width="147" height="143" type="image/webp" media="(min-width: 768px)" srcset="../img/stories/photo-3-tablet@1x.webp 1x, ../img/stories/photo-3-tablet@2x.webp 2x">
              <source width="71" height="69" type="image/webp" srcset="../img/stories/photo-3-mobile@1x.webp 1x, ../img/stories/photo-3-mobile@2x.webp 2x">
              <source width="147" height="143" type="image/jpg" media="(min-width: 768px)" srcset="../img/stories/photo-3-tablet@1x.jpg 1x, ../img/stories/photo-3-tablet@2x.jpg 2x">
              <img src="../img/stories/photo-3-mobile@1x.jpg" srcset="../img/stories/photo-3-mobile@2x.jpg 2x" width="71" height="69" alt="photo">
            </picture>
          </div>
        </div>
        <div class="stories__content">
          <p>Working with DesignHive was a&nbsp;pleasure! They took our vision and turned it&nbsp;into a&nbsp;stunning reality. The project&rsquo;s outcome exceeded our expectations and truly reflects our brand. Thank you, DesignHive!</p>
        </div>
      </li>
    </ul>
  </div>
</section>
