<section class="tags">
  <div class="container">
    @if (typeof isTitle !== 'undefined') {
    <h2 class="tags__title title">Tags</h2>
    }
    <ul class="tags__list">
      <li class="tags__item">
        <a class="tags__link" href="#">Restaurants</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Beauty&nbsp;&&nbsp;Wellness</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Cafe</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Bakeries</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Education</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Childcare</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Retail Stores</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Healthcare</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Professional Services</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Industrial & Manufacturring</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Workshop</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Automotive</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">Transportation</a>
      </li>
      <li class="tags__item">
        <a class="tags__link" href="#">F&B&nbsp;Traiding</a>
      </li>
    </ul>
  </div>
</section>
