<section class="team">
  <div class="container">
    <div class="team__header">
      <h2 class="team__title title">Your expert guides: local <br>knowledge, global standards</h2>
      <div class="team__header-description">
        <p>Our team is&nbsp;built of&nbsp;seasoned M&amp;A advisors and legal specialists with unmatched local UAE market insight. We&nbsp;cut through the complexity to&nbsp;offer confidential, end&#8288;-&#8288;to&#8288;-&#8288;end guidance. We&nbsp;are committed to&nbsp;securing your investment and guaranteeing a&nbsp;smooth, profitable business transfer</p>
      </div>
    </div>
    <div class="team__swiper-container">
      <div class="team__swiper" data-swiper="navigation">
        <ul class="team__swiper-wrapper">
          <li class="team__slide">
            <div class="team__card">
              <div class="team__card-content">
                <h3 class="team__card-name">
                  <span>Julia</span>
                  <span>Zakharova</span>
                </h3>
                <p class="team__card-position">Senior Real Estate Broker</p>
                <dl class="team__card-char">
                  <div>
                    <dt>Language: </dt>
                    <dd>English, Russian</dd>
                  </div>
                </dl>
                <ul class="team__socials">
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Whatsapp.</span>
                    </a>
                  </li>
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Telegram.</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="team__image">
                <picture>
                  <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="../img/team/juli-zakharova-tablet@1x.webp 1x, ../img/team/juli-zakharova-tablet@2x.webp 2x">
                  <source width="322" height="358" type="image/webp" srcset="../img/team/juli-zakharova-mobile@1x.webp 1x, ../img/team/juli-zakharova-mobile@2x.webp 2x">
                  <source width="337" height="195" type="image/jpg" media="(min-width: 768px)" srcset="../img/team/juli-zakharova-tablet@1x.jpg 1x, ../img/team/juli-zakharova-tablet@2x.jpg 2x">
                  <img src="../img/team/juli-zakharova-mobile@1x.jpg" srcset="../img/team/juli-zakharova-mobile@2x.jpg 2x" width="322" height="358" alt="Juli Zakharova.">
                </picture>
              </div>
            </div>
          </li>
          <li class="team__slide">
            <div class="team__card">
              <div class="team__card-content">
                <h3 class="team__card-name">
                  <span>Stefan</span>
                  <span>Cagik</span>
                </h3>
                <p class="team__card-position">Business Broker</p>
                <dl class="team__card-char">
                  <div>
                    <dt>Language:</dt>
                    <dd>English, Russian, French, Serbian</dd>
                  </div>
                </dl>
                <ul class="team__socials">
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Whatsapp.</span>
                    </a>
                  </li>
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Telegram.</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="team__image">
                <picture>
                  <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="../img/team/stefan-cagik-tablet@1x.webp 1x, ../img/team/stefan-cagik-tablet@2x.webp 2x">
                  <source width="322" height="358" type="image/webp" srcset="../img/team/stefan-cagik-mobile@1x.webp 1x, ../img/team/stefan-cagik-mobile@2x.webp 2x">
                  <source width="337" height="195" type="image/jpg" media="(min-width: 768px)" srcset="../img/team/stefan-cagik-tablet@1x.jpg 1x, ../img/team/stefan-cagik-tablet@2x.jpg 2x">
                  <img src="../img/team/stefan-cagik-mobile@1x.jpg" srcset="../img/team/stefan-cagik-mobile@2x.jpg 2x" width="322" height="358" alt="Stefan Cagik.">
                </picture>
              </div>
            </div>
          </li>
          <li class="team__slide">
            <div class="team__card">
              <div class="team__card-content">
                <h3 class="team__card-name">
                  <span>Regina</span>
                </h3>
                <p class="team__card-position">Business Broker</p>
                <dl class="team__card-char">
                  <div>
                    <dt>Language: </dt>
                    <dd>English, Russian</dd>
                  </div>
                </dl>
                <ul class="team__socials">
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Whatsapp.</span>
                    </a>
                  </li>
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Telegram.</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="team__image">
                <picture>
                  <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="../img/team/regina-tablet@1x.webp 1x, ../img/team/regina-tablet@2x.webp 2x">
                  <source width="322" height="358" type="image/webp" srcset="../img/team/regina-mobile@1x.webp 1x, ../img/team/regina-mobile@2x.webp 2x">
                  <source width="337" height="195" type="image/jpg" media="(min-width: 768px)" srcset="../img/team/regina-tablet@1x.jpg 1x, ../img/team/regina-tablet@2x.jpg 2x">
                  <img src="../img/team/regina-mobile@1x.jpg" srcset="../img/team/regina-mobile@2x.jpg 2x" width="322" height="358" alt="Regina.">
                </picture>
              </div>
            </div>
          </li>
          <li class="team__slide">
            <div class="team__card">
              <div class="team__card-content">
                <h3 class="team__card-name">
                  <span>Julia</span>
                  <span>Zakharova</span>
                </h3>
                <p class="team__card-position">Senior Real Estate Broker</p>
                <dl class="team__card-char">
                  <div>
                    <dt>Language: </dt>
                    <dd>English, Russian</dd>
                  </div>
                </dl>
                <ul class="team__socials">
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Whatsapp.</span>
                    </a>
                  </li>
                  <li class="team__socials-item">
                    <a class="team__socials-link team__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                      <span class="visually-hidden">Telegram.</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="team__image">
                <picture>
                  <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="../img/team/juli-zakharova-tablet@1x.webp 1x, ../img/team/juli-zakharova-tablet@2x.webp 2x">
                  <source width="322" height="358" type="image/webp" srcset="../img/team/juli-zakharova-mobile@1x.webp 1x, ../img/team/juli-zakharova-mobile@2x.webp 2x">
                  <source width="337" height="195" type="image/jpg" media="(min-width: 768px)" srcset="../img/team/juli-zakharova-tablet@1x.jpg 1x, ../img/team/juli-zakharova-tablet@2x.jpg 2x">
                  <img src="../img/team/juli-zakharova-mobile@1x.jpg" srcset="../img/team/juli-zakharova-mobile@2x.jpg 2x" width="322" height="358" alt="Juli Zakharova.">
                </picture>
              </div>
            </div>
          </li>
        </ul>
        <div class="team__swiper-button-container hidden">
          <button class="button-swiper button-swiper--prev" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
