// базовые подключения
@use "index" as *;

// подключения компонентов
@use "./components/logo-image";
@use "./components/title";
@use "./components/button";
@use "./components/button-swiper";
@use "./components/button-scroll-top";
@use "./components/breadcrumbs";
@use "./components/tabs";
@use "./components/map";
@use "./components/multiform";
@use "./components/filters";
@use "./components/tags";
@use "./components/form";
@use "./components/popup-social";
@use "./components/modal";

// подключения секций страницы
@use "./blocks/header";
@use "./blocks/footer";
@use "./blocks/hero";
@use "./blocks/offers";
@use "./blocks/team";
@use "./blocks/calculation";
@use "./blocks/featured";
@use "./blocks/stories";
@use "./blocks/faq";
@use "./blocks/about";
@use "./blocks/blog-preview";
@use "./blocks/contact-us";
@use "./blocks/payment";
@use "./blocks/privacy";
@use "./blocks/catalog";
@use "./blocks/project";
@use "./blocks/similar";
@use "./blocks/disclamer";
@use "./blocks/blog";
